[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environs = "*"
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
djangorestframework-camel-case = "*"
django-cors-headers = "*"
reverse = "*"
djangorestframework-include-mixin = "*"
six = "*"
celery = "*"
drf-yasg = "*"
redis = "*"
mailjet-rest = "*"
mixer = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
